### Python ###
# Python bytecode
*.py[cod]

# jupyter notebook checkpoints
*/.ipynb_checkpoints/*
.ipynb_checkpoints

### Images ###
*.png

### Data ###
*.nc
*.zip

### Sundires ###
# xESMF installation
**/xESMF/
